.table {
    background-color: #BCB8B1;
    display: grid;
    grid-template-columns: 8fr 3fr 3fr 4fr 5fr 3fr 4fr 3fr;
    text-align: end;
}

.table > div {
    border-bottom: #F4F3EE solid 10px;
    padding-inline: .5rem;
}

.field {
    cursor: pointer;
}

.disabled {
    cursor: default;
}

.name {
    text-align: start;
}